<div class="row">

	<div class="col-sm-12">
		<h1 class="about">About Us</h1>
	</div>
	

	<div class="entry-content col-sm-12">
		<h3 ><span style="font-size: 1.5em;">We are De’ Bridge community centre</span></h3>


		<p class="about-p">We are a Christian based community organization. We are based in Dagoretti south constituency, Nairobi Kenya. The organization was founded by the pastor and the entire leadership of Bible Missions Faith Ministry. The name De Bridge is the short form of Destiny Bridge. We believe that every person has a destiny but may face obstacles that can hamper them making it difficult to reach the destiny.</p>

		<h3>Our Vision</h3>
		<p>We see an enlightened healthy community engaged in income generating activities thus profiting its individual members</p>

		<h3>Our Mission</h3>
		<p>We are committed to inspiring, educating, providing healthcare to individuals and equipping them with skills that develop their abilities.</p>

		<h3>Who we Are</h3>
		<p>We are a grassroots community based organisation based in Kenya. We empower and educate people living in poverty.</p>

		<h3>Our Work</h3>
		<p>Our key focus is school aged children, women and youths living in informal settlements. The projects we operate are: Food and Nutrition, Education, Health, HIV/AIDS Education, Schools Reproductive Health Education, School Construction, Child Sponsorship and Life Skills. We also operate women empowerment support group where women learn income generation skills and a youth empowerment group that perform artistic and musical art to nature their talent and uplift the life of the youth.</p>

		<h3>Angaza School</h3>
		<p>Anganza is a Swahili word meaning to make it shine and glow with radiance .With our Anganza school program we aim to make children from less-privileged background to shine through education and to be of value to their society. </p>

		<h3>Our People</h3>
		<p>Our team is a group of dedicated and highly motivated people to empower the community from all walks of life. Each giving their time, energy and skills towards the De’ Bridge community centre mission. <%= link_to 'Meet our Team', '#' %></p>

		<h3>Where we work</h3>
		<p>We are located in Nairobi, Kenya and our field is in the Dagoreti south constituency, Waithaka Ward. We focus our energy there as we see these environments with the greatest need’s in our community.</p>

		<h3>Registration</h3>
		<p>We are registered in Kenya under community based organisation registration number DAG/CBO/5/4/2014/445.</p>






	</div>

</div>