<div class="row">

<div class="pic col-sm-12"></div>
	
	<div class="col-sm-12">
		<h1 class="about">Construction</h1>
	</div>

	<div class="col-sm-6">
		<h1 class="about theme-color" >Building a new future for children living in poverty</h1><br>

		<p>With a vision for future sustainability, we have started a long-term project to buy land and construct a comprehensive facility, including a primary school with dormitories, staff housing, multi-hall and kitchen.</p>
		<br>
		<p>We have currently leased one acre of land which have old structures and a residential home that we use as classroom and health facilities. This area has a number of poverty issues, including too few affordable senior schools for the number of children living in poverty in the area.</p>
	</div>

	<div class="col-sm-6">
		<%= image_tag("pics/teepee.jpg", :alt => "women") %>
	</div>


	<div class="col-sm-12">
		<h1 class="about" style="color:#449DDA;">Get Involved</h1>
		<p>We are currently seeking investors who see the value of fighting poverty through education and who would like to contribute to this project. We are also looking for fundraisers, individual donors, trusts, NGOs and organisations from all around the world to partner with De Bridge community centre to make financial contributions to facilitate the construction of the school and other buildings. For more information please send an email .</p>
	</div>
</div>