<div class="donate row">
	<div>
		<h1 class="donate">Donate To The Bridge Community Center</h1>
	<p>Every contribution to De Bridge community centre makes a tangible difference. We are committed to building an organisation that is trustworthy, transparent, effective, innovative and sustainable. Thank you for your support.</p>

	<h2>CHILD SPONSERSHIP</h2>
	<p>For only $25 a month you can provide a De Bridge community child with food, nutrition, education and health care.

		De’ Bridge community centre Child Sponsorship is much more than a one-to-one support programme.

		Your sponsorship will also enable other De’ Bridge community children to continue to receive life’s essentials. When one help educate a single child you have help the whole Village.</p>

		<h2>Why Sponsorship</h2>

		<p>With the support of a sponsor, a child can go all the way through education and their development needs can be met holistically. Through sponsorship, De Bridge community centre, partners with the community and fights poverty through cost sharing.</p>
	</div>
	

	

</div>