<div class="row">


	
	<div class="col-sm-12">
		<h1 style="color:#449DDA;" class="about" >FUND RAISING</h1>
	</div>

	<div class="col-sm-12">
		

		
		<p>Getting involved with De Bridge community centre through fundraising can be a really rewarding experience that can be done in so many different ways.
		Since we began, local people have been raising money for our organisation that has supported our projects, growth and operations.</p>

	</div>

	


	<div class="col-sm-12">
		<h1 class="about" style="color:#449DDA;">How should I raise fund?</h1>
		<p>One way of knowing how much to raise is to read our priority list below. This list details the actual needs for our projects. It is one of the best ways to know where your hard earned fund raising will go and should help you focus your planning and ideas.</p>

		

						<ul>
						  <li>Have fun and be enthusiastic about what you are doing.</li>
						  <li>Keep your overheads low by pulling favours.</li>
						  <li>Get your family and friends involved as they can add ideas to what you are doing.</li>

						  <li>When choosing a date take into account the time of year and other factors that may make dates a risk in low attendance.</li>
						  <li>Remember to keep checking in with people.</li>
						  <li>Make an eye catching and clear event poster or invitation.</li>

						    <li>Be proactive in seeking as much help as possible from people.</li>
						  <li>Remember no matter the amount you raise, whether its; $50 or $5000, it really does make a difference!</li>
						  <li>Be one of the first to give. People will give when they see you giving.</li>
						  <li>Use the resources you have at hand such as technology, contacts and your own creativity.
Play to your strengths.</li>


						</ul>


	</div>
</div>