<div class="row">

		<div class="col-sm-12">
		<h1 class="about">Hospital</h1>
		</div>

	<div class="col-sm-6">
		<h1 class="about theme-color" >What we do</h1><br>

		<p>One of the biggest challenges for people living in poverty is access to quality public health care. Transport issues and long work hours for small pay are just some of the issues facing the poor living in within our locality.</p><br>
		<p>In 2014 we launched a new programme to address public health. </p>
		<br>
		We offer the following services with the help of Mrs Juliet one of our director who is a nurse by profession with extensive experience in public service:</p>

		
	 </div>


			<div class="col-sm-6">
				<%= image_tag("pics/teepee.jpg", :alt => "women") %>
				<small>LibreShot.com</small>
			</div>

			<div class="col-sm-6">
				<ul class="list-group" style="text-align:center">
				  <li class="list-group-item">Family planning</li>
				  <li class="list-group-item">Growth and monitoring</li>
				  <li class="list-group-item">Immunisation</li>
				  <li class="list-group-item">Minor treatments</li>
				  <li class="list-group-item">Public health forums and education</li>
				  <li class="list-group-item">VCT (Volunteer Counselling & Testing) – HIV testing and counselling</li>
				  <li class="list-group-item">Consultation</li>
				  <li class="list-group-item">Laboratory tests </li>
				  <li class="list-group-item">Counseling</li>
				  <li class="list-group-item">Medical campaigns</li>
				</ul>
			</div>


			<div class="col-sm-12">

			<h2 class="about" style="color:#449DDA;">Schools Programme</h2>
			<p>The Angaza Schools Programme is for low-income schools where the opportunities to gain knowledge and learn about health are fewer. The programme tackles real issues, with curriculum areas including:</p>	
<div col-sm-4></div>
<div col-sm-4></div>
			<ul class="list-group">
			  <li class="list-group-item list-group-item-success">HIV/AIDS: education, stigma, and attitude</li>
			  <li class="list-group-item list-group-item-info">Reproductive health, safe sex, and the body</li>
			  <li class="list-group-item list-group-item-warning">Drugs, alcohol and substance abuse</li>
			  <li class="list-group-item list-group-item-danger">Rape and female genital mutilation</li>
			   <li class="list-group-item list-group-item-success">Personal hygiene and nutrition</li>
			
			</ul>

			</div>
</div>
	



	

	






