<div class="donate row">
	<div>
		<h1 class="donate">Priority List</h1>
		<h2 style="text-align:center">Needs for 2015</h2>
		<p>Our priority list of needs is based on what we consider to be the most vital to running projects. It’s tied into this years budget and work-plan and is based on our current financial year 2014-2015. We have included small items like pencils to larger investments such as water tanks. You can take this list and start fundraising for De’ Bridge community or even donate directly towards a need on this list.</p>

		<h3 style="text-align: left;"><span style="font-size: 1.17em;">Food and Nutrition</span></h3>


		<table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>USD</th>
        <th></th>
        <th>KSH</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>No</td>
        <td>Item</td>
        <td>Unit</td>
          <td>Quantity</td>
       
       
         <td>Unit Cost</td>
          <td>Total</td>
           <td>Unit Cost</td>
            <td>Total</td>
          <td>Donated</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Rice</td>
        <td>100kg</td>
        <td>Bags</td>
        <td>2</td>
        <td>60</td>
        <td>120.00</td>
        <td>2226</td>
        <td>24152</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>

	
	</div>
	

	

</div>