<div class="donate row">
	<div>
		<h1 class="donate">Priority List</h1>
		<h2 style="text-align:center">Needs for 2015</h2>
		<p>Our priority list of needs is based on what we consider to be the most vital to running projects. It’s tied into this years budget and work-plan and is based on our current financial year 2014-2015. We have included small items like pencils to larger investments such as water tanks. You can take this list and start fundraising for De’ Bridge community or even donate directly towards a need on this list.</p>

		<h3 style="text-align: left;"><span style="font-size: 1.17em;">Food and Nutrition</span></h3>


		<table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>USD</th>
        <th></th>
        <th>KSH</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>No</td>
        <td>Item</td>
        <td>Unit</td>
          <td>Quantity</td>
       
       
         <td>Unit Cost</td>
          <td>Total</td>
           <td>Unit Cost</td>
            <td>Total</td>
          <td>Donated</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Rice</td>
        <td>100kg</td>
        <td>Bags</td>
        <td>2</td>
        <td>60</td>
        <td>120.00</td>
        <td>2226</td>
        <td></td>
      </tr>
       <tr>
        <td>2</td>
        <td>Ugali Flour</td>
        <td>90kg</td>
        <td>2 bags</td>
        <td>35.00</td>
        <td>70.00</td>
        <td>70.00</td>
        <td>7409.00</td>
        
      </tr>

       <tr>
        <td>3</td>
        <td>Karibu Cooking Fat</td>
        <td>10kg</td>
        <td>8 containers</td>
        <td>11.00</td>
        <td>88.00</td>
        <td>1177.00</td>
        <td>9416.00</td>
        <td></td>
      </tr>

       <tr>
        <td>4</td>
        <td>Salt</td>
        <td>2kg</td>
        <td>24 pieces</td>
        <td>0.42</td>
        <td>10.00</td>
        <td>44.94</td>
        <td>1078.56</td>
        <td></td>
      </tr>

       <tr>
        <td>5</td>
        <td>Multivitamins</td>
        <td>5 litres</td>
        <td>36 Containers</td>
        <td>4.00</td>
        <td>144.00</td>
        <td>428.00</td>
        <td>15408.00</td>
        <td></td>
      </tr>

       <tr>
        <td>6</td>
        <td>Eden Chai</td>
        <td>½ kg</td>
        <td>8 bags</td>
        <td>1.90</td>
        <td>15.00</td>
        <td>203.30</td>
        <td>1626.40</td>
        <td></td>
      </tr>

       <tr>
        <td>7</td>
        <td>Toiet Paper</td>
        <td>Bale of 40 rolls</td>
        <td>8 bale</td>
        <td>7.50</td>
        <td>60.00</td>
        <td>802.50</td>
        <td>6420.00</td>
        <td></td>
      </tr>

       <tr>
        <td>8</td>
        <td>Bar Soap</td>
        <td>20 piece</td>
        <td>20 piece</td>
        <td>0.18</td>
        <td>16.00</td>
        <td>19.26</td>
        <td>385.20</td>
        <td></td>
      </tr>

       <tr>
        <td>9</td>
        <td>Disinfectant</td>
        <td>5 litres</td>
        <td>4 container</td>
        <td>4.50</td>
        <td>18.00</td>
        <td>481.50</td>
        <td>1926.00</td>
        <td></td>
      </tr>

       <tr>
        <td>10</td>
        <td>CAN Fertilizer</td>
        <td>50kg</td>
        <td>4 bags</td>
        <td>22.50</td>
        <td>90.00</td>
        <td>2407.50</td>
        <td>9630.00</td>
        <td></td>
      </tr>

       <tr>
        <td>11</td>
        <td>DAP Fertilizer</td>
        <td>50kg</td>
        <td>4 Bags</td>
        <td>31.50</td>
        <td>126.00</td>
        <td>3370.50</td>
        <td>13482.00</td>
        <td></td>
      </tr>

          <tr>
        <td>12</td>
        <td>Seed and Seedling for Farm</td>
        <td>For an acre</td>
        <td>4</td>
        <td>90.00</td>
        <td>360.00</td>
        <td>9630.00</td>
        <td>38520.00</td>
        <td></td>
      </tr>

          <tr>
        <td>13</td>
        <td>Manure for Farm</td>
        <td>For an acre</td>
        <td>4</td>
        <td>45.00</td>
        <td>180.00</td>
        <td>4815.00</td>
        <td>19260.00</td>
        <td></td>
      </tr>

        <tr>
        <td>14</td>
        <td>Water tank 2000litres</td>
        <td>Tank</td>
        <td>2</td>
        <td>114.00</td>
        <td>228.00</td>
        <td>12198.00</td>
        <td>24396.00</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <!-- health -->


  <h3 style="text-align: left;"><span style="font-size: 1.17em;">Education</span></h3>


    <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>USD</th>
        <th></th>
        <th>KSH</th>
        <th></th>
      
      </tr>
    </thead>

     <tr>
        <td>No</td>
        <td>Item</td>
        <td>Unit</td>
          <td>Quantity</td>
       
       
         <td>Unit Cost</td>
          <td>Total</td>
           <td>Unit Cost</td>
            
      </tr>
    <tbody>
    
      <tr>
        <td>1</td>
        <td>Drawing books</td>
        <td>Carton</td>
        <td>1</td>
        <td>30.00</td>
        <td>3.00</td>
        <td>3350</td>
       
      </tr>
       <tr>
        <td>2</td>
        <td>Lined books</td>
        <td>Carton</td>
        <td>2</td>
        <td>30.00</td>
        <td>60.00</td>
        <td>3350</td>
       
      </tr>

       <tr>
        <td>3</td>
        <td>Square (maths) books</td>
        <td>Carton</td>
        <td>1</td>
        <td>30.00</td>
        <td>30.00</td>
        <td>3350</td>
       
      </tr>

       <tr>
        <td>4</td>
        <td>Coloured chalk</td>
        <td>Pack</td>
        <td>9</td>
        <td>0.50</td>
        <td>4.50</td>
        <td>55</td>
      
      </tr>

       <tr>
        <td>5</td>
        <td>Modelling clay</td>
        <td>Pack</td>
        <td>40</td>
        <td>0.95</td>
        <td>38.00</td>
        <td>105</td>
       
      </tr>

       <tr>
        <td>6</td>
        <td>Fine tip Bic biros in three colours</td>
        <td>Box</td>
        <td>9</td>
        <td>3.25</td>
        <td>29.00</td>
        <td>360</td>
        
      </tr>

       <tr>
        <td>7</td>
        <td>Manila paper</td>
        <td>Pieces</td>
        <td>40</td>
        <td>0.18</td>
        <td>7.20</td>
        <td>20</td>
       
      </tr>

       <tr>
        <td>8</td>
        <td>Sanitary towel (44 pieces per carton)</td>
        <td>Carton</td>
        <td>24</td>
        <td>14.50</td>
        <td>348.00</td>
        <td>1580</td>
      
      </tr>

       <tr>
        <td>9</td>
        <td>School fees for Anganza Primary</td>
        <td>Child</td>
        <td>95</td>
        <td>7.20</td>
        <td>684.00</td>
        <td>797</td>
      
      </tr>

       <tr>
        <td>10</td>
        <td>De-worming tablets</td>
        <td>Tin</td>
        <td>1</td>
        <td>3.20</td>
        <td>3.20</td>
        <td>350</td>
      
      </tr>
       <tr>
        <td>11</td>
        <td>Ringworm cream</td>
        <td>Tin</td>
        <td>4</td>
        <td>9.00</td>
        <td>36.00</td>
        <td>1000</td>
      
      </tr>
       <tr>
        <td>12</td>
        <td>Pencils</td>
        <td>Tin</td>
        <td>1.10</td>
        <td>11.00</td>
        <td>120</td>
        <td>797</td>
      
      </tr>
       <tr>
        <td>13</td>
        <td>Counter books-three quire</td>
        <td>Books</td>
        <td>12</td>
        <td>1.80</td>
        <td>21.60</td>
        <td>200</td>
      
      </tr>
       <tr>
        <td>14</td>
        <td>Erasers</td>
        <td>Piece</td>
        <td>180</td>
        <td>0.05</td>
        <td>9.00</td>
        <td>5</td>
      
      </tr>
       <tr>
        <td>15</td>
        <td>Notepads</td>
        <td>Piece</td>
        <td>20</td>
        <td>0.22</td>
        <td>4.40</td>
        <td>25</td>
      
      </tr>
       <tr>
        <td>16</td>
        <td>Wooden adult student chairs-desks</td>
        <td>Piece</td>
        <td>30</td>
        <td>30.00</td>
        <td>900</td>
        <td>3,000</td>
      
      </tr>
       <tr>
        <td>17</td>
        <td>Plastic chairs</td>
        <td>Piece</td>
        <td>10</td>
        <td>9.00</td>
        <td>90.00</td>
        <td>1000</td>
      
      </tr>
       <tr>
        <td>18</td>
        <td>School water tank 10,000litres</td>
        <td>Piece</td>
        <td>1</td>
        <td>765.00</td>
        <td>765.00</td>
        <td>85,000</td>
      
      </tr>
    </tbody>
  </table>

  <h3>Thank You</h3>
  <p>No matter the amount, every donation brings us that much closer to achieving our mission. Thank you for the time you have taken to read through our list and for any contribution you are able to give.</p>

	
	</div>
	

	

</div>