<div class="row">
	<div class="row">
			<div class="col-sm-6">
				<h1 style="font-size:26px;text-align:left ">Child Sponsorship</h1>
			</div>

	</div>
	<div class="row">
		
		<div  class="spons col-sm-6">
			For only $25 a month you can provide a De Bridge community child with food, nutrition, education and health care.

			De’ Bridge community centre Child Sponsorship is much more than a one-to-one support programme.

			Your sponsorship will also enable other De’ Bridge community children to continue to receive life’s essentials. When one help educate a single child you have help the whole Village.
		</div>
		<div class="moses col-sm-6">
			
		
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<h1 style="font-size:26px;text-align:center">Why sponsorship </h1>
			<p>With the support of a sponsor, a child can go all the way through education and their development needs can be met holistically. Through sponsorship, De Bridge community centre, partners with the community and fights poverty through cost sharing.</p>
		</div>
	</div>
	

</div>