

<div style="padding-top:90px" class="row">
 	<div class="col-sm-12 project" >

 	<blockquote cite="http://developer.mozilla.org">
  <p>It began as a dream proclaimed during a sermon at local church. What started out as a handful of people pulling together to help children from less privileged community to get access to education. This is our story…</p>
</blockquote>
 	</div>

 </div>

<div class="row">
 	<div class="col-sm-12" >

 	<p>The organization dates back to January 2014 after us, the founders, Mr. and Mrs. Caleb and Juliet Shinyega, had the conviction and the desire of putting up a platform on which marginalized individuals from of Waithaka and beyond would be nurtured into spiritually, socially and economically sound and self-reliant. Having been serving the community as Clergy for more than two decades, we have had the privilege of interacting with persons from all walks of life in this area. On realizing what the society need, we developed the urge of providing a way out. For pupils and students whose parents could not manage the education of their children despite it being a right and need, we thought of setting up a school platform and for there to be a solution to health problems in the community, to provide accessibility to the needed health - a medical clinic. After starting this program, on many occasions we treat patients free of charge having looked at the disparity of need they are in. These two projects suited our expertise with Pastor Caleb well-prepared to head the school project while Pastor Juliet would take care of the medical project.</p>
 	</div>

 </div>





 