<div class="row">

	<div class="col-sm-12">
		<h1>Our co-founders and Directors</h1>
	</div>

	<div class="row">
		<div  class="people col-sm-4">
		<%= image_tag("pics/caleb.jpeg", :alt => "Caleb", :alt => "Caleb",:class=>"img") %>
	</div>
	<div class="col-sm-8">
		
		<h2>CALEB ANYUALEH SHINYEGA: </h2>
		<p>Caleb was a civil servant from 1980 to 2004 when he received the call to be Pastor. Then is when he founded Bible Missions International Ministry. He is a holder of Bachelor of Divinity and Masters in Christian Education and Ministry, both from Shalom Bible College and Seminary. </p>
	</div>
	</div>

	
	<div style="margin-top:50px;" class="row">
		<div  class="people col-sm-4">
			<%= image_tag("pics/direct.jpg", :alt => "Caleb", :alt => "Caleb",:class=>"img") %>
		</div>
	<div class="col-sm-8">
		
		<h2> JULIET INGAITSA MUTSOTSO: </h2>
		<p>Juliet is a trained Community Health Nurse. She has working experience of twenty years, licensed by the nursing council of Kenya to carry out medical services. Apart from this, she holds a Bachelor’s degree in Divinity. She is also a pastor. 
		These couple grew up separately in humble families where educating a child was like a miracle. “They do not like to see children who are to be in school just hanging outside school during school hours. “Lack of education is a disease nobody notices until when tragedy for ignorance strikes,”- they are quoted saying. They have lived, preached, wishing they could help a child learn. For over thirty years he has lived in the slums of Kibera now branded Kibra constituency, Kangemi, Makongeni of Eastland area, and Kawangware where he has pained in his heart seeing how poverty stricken families suffer in this areas. These are also the areas where they carrying out gospel ministry. Presently we are living in Kawangware where we started the church ministry and later moved the church to here, the present site of the project. They are moved with the zeal of helping people in need to independence. “We have a long story that we will be telling in a book we are writing, in which we will be speaking to the “living” that it is possible with God”. They conclude with a smile.</p>
	</div>
		
	</div>

	

 	<div style="margin-top:50px;" class="row">
 		<div  class="people col-sm-4">
 			<%= image_tag("pics/daughter.jpg", :alt => "Caleb",:class=>"img") %>
 		</div>
	<div class="col-sm-8">
		
		<h2> LYNDIE ITEBA: </h2>
		<h3>ASSISTANT DIRECTOR/SECRETARY:</h3>
		<p>Lyndie is a holder of Diploma in Christian Ministry and is pursuing a BA in Music. She is the director and co-founder of Lifted Music Ministry, the activity associated with the youth group under this organization. She liked and did music in school and wants to see music become a lifestyle, taking her peers high and wide. </p>
	</div>
 	</div>
		<
	
</div>