<div class="row">
	<div class="col-sm-12">
		<h1 class="about">Voices</h1>
	</div>

	<div class="row">
		<div class="col-sm-2">
			<%= image_tag("#", :alt => "moses") %>
		</div>
		<div class="col-sm-10">
		<h2 class="about">Child name, 8 years</h2>
			<em>“When I was not attending school all day I would help my family by taking care of my younger brothers and sister, helping my mum when she secured a job at our neighbourhood   working in a farm. Now I have realised the difference between staying at home and coming to school. At school I to learn to read and write. When I was sick I was taken to hospital given medication and got better. I’m very glad to be in school.”</em><br>
			
			
		</div>
	</div>


	<div class="row">
		<div class="col-sm-2">
			
		</div>
		<div class="col-sm-4">
			<%= image_tag("#", :alt => "moses") %>
		</div>
		<div class="col-sm-6">
		<h2 class="about">Child name, 17 years</h2>
			<em>“I have a big family, I have two sisters and four brothers, I was so happy when I was enrolled into Anganza school. In my days before coming to school, I used to admire school children and play around school and sometime helping mum at the house. When I am at school with my friends and teachers I feel so proud wearing my uniform. At school I love reading, singing, talking to my teacher and meeting the visitors that come to see us.”</em><br>
			
			
		</div>
	</div>


		

	
</div>

