<div class="row">
	<div class="col-sm-12">
		<h1 class="about">Voices</h1>
	</div>

	<div class="row">
		<div class="col-sm-2">
			<%= image_tag("pics/vig.jpg", :alt => "viginia") %>
		</div>
		<div class="col-sm-10">
		<h2 class="about">Viginia, 8 years</h2>
			<em>“I have a big family, I have two sisters and four brothers, I was so happy when I was enrolled into Anganza school. In my days before coming to school, I used to admire school children and play around school and sometime helping mum at the house. When I am at school with my friends and teachers I feel so proud wearing my uniform. At school I love reading, singing, talking to my teacher and meeting the visitors that come to see us.</em><br>
			
			
		</div>
	</div>


	<div class="row">
		<div class="col-sm-2">
			
		</div>
		<div class="col-sm-2">
			<%= image_tag("pics/fai.jpg", :alt => "moses") %>
		</div>
		<div class="col-sm-6">
		<h2 class="about">Faith, 17 years</h2>
			<em>“The children who don’t go to school in our community end up selling plastic materials for recycling and charcoal for money. Before coming to Angaza school life was a lot harder for me, but now when I come to school I have big expectations for my future. I really want to learn and become a Doctor.”</em><br>
			
			
		</div>
	</div>


		

	
</div>

