<div class="row">

<div class="vol col-sm-12"></div>
	
	<div class="col-sm-12">
		<h1 class="about">Volunteer</h1>
	</div>

	<div class="col-sm-12">
		

		<p style="font-size:24px; text-align:center;"><i>Volunteering and giving back through service, if done with the right motivation can be a life enriching experience that can stay with you for the rest of your life. Without a doubt, if approached in the right way, this experience can be equally beneficial to you and the community that you are helping.</i></p>
		<br>
		<p>You can volunteer from wherever you are in the world; the key to a successful placement is to have the heart and motivation to make a difference. If your goal and passion is to simply serve humanity and understand the real needs of a people in need, then volunteering could be an ideal opportunity for you explore, learn and grow as a person.</p>

	</div>

	


	<div class="col-sm-12">
		<h1 class="about" style="color:#449DDA;">De’ Bridge community Centre Volunteer Program</h1>
		<p>Volunteer s are involved in short term program focused on three main placements based on the real needs of De’ Bridge community. The volunteering takes place in Nairobi, Kenya and the placements we offer are: Childcare, Teaching, and Office Support.</p>

		<p>You can choose the length of your placement between; one to eight weeks as well as the type of placement you would like to do. We accept volunteers from January to November each year.</p>


		<h1 class="about" style="color:#449DDA;">Our Placement</h1>
		<h3>Childcare</h3>
		<p>Come and join our weekday pre-school for the full experience of helping some of Kenya’s most vulnerable children, aged 3-7 years. Alongside our school cook and teachers you will experience the highs and lows of pre-school life and should walk away with some great memories. Our children’s programme incorporates education, health, nutrition and life skills. Your placement will be varied based around these key areas. The main work is in the kitchen, garden, classroom and outdoor activities. You will help prepare meals, clean, perform general health checks, assist teachers, organise activities and other tasks which are all focused on the holistic development of children.</p>


		<h3>Teaching</h3>
		<p>Teach children aged 3-7 years in our junior school and teenager in our senior school for five days a week.  You will teach along-side teachers on specific subjects and themes within the prepared lesson plans and schemes of work. As well as teaching, your tasks could be marking books, preparing for specific classes and activities, preparing teaching materials,organizing   activities for the children such as sports, games, music and creative activities.</p>


		<h3>Office Support</h3>
		<p>We are growing as an organization and so, our workload is also growing! This placement is one we value highly as the skills and capabilities you can offer can be a significant boost for our operations end. Your contribution we are looking for can be any or a combination of organizational, analytical, creative, or technical experience. We value this kind of support as it saves us resources and moves us forward faster.  As a young community bas

						<ul>
						  <li>Grant and proposal writing</li>
						  <li>Fundraising</li>
						  <li>Graphic and web design</li>

						  <li>Event and campaign management</li>
						  <li>Photography and video recording for our youths</li>
						  <li>Office support </li>
						</ul>

		</p>

		
		<h3 style="color:#449DDA;">Why De’ Bridge community centre Needs Volunteers</h3>
		<p>When you volunteer with De’ Bridge community centre 50% of programme fees will be allocated to this school construction project. With your contribution to the construction fund the school can become a reality in a few short years. Something that you can be proud of and potentially come back to visit in the years to come.</p>

		<p>As well as funds, volunteers are essential to our on-going progress and momentum in terms of skills and services they provide. Because of these services we are able to grow in ways we wouldn’t be able to if we were paying for every service required.</p>
	</div>
</div>