<div class="row">
	<div class="col-sm-12">
		<h1 class="about">Women</h1>
	</div>

			<div class="col-sm-6">
				<h1 class="about theme-color" >Women leading the way out of poverty</h1><br>

				<p>The De’ Bridge community center Women’s Empowerment group was launched in 2014 as an initiative to fight poverty at the grassroots level. It was formed by women for women, and is led by women.<br><br>
				At the De’ Bridge community we strongly believe that women are the pillars of the society. We started women group initiative with the primary aim of helping women to be financially independent. The women involved all know first-hand the challenges of raising a family in this environment. As well as providing support, the group helps provide income-generating opportunities. Our initiatives brings women together and enable them to learn social and technical skill to build their small business .In addition from learning from each other, we support them by providing expertise from which they gain skill such as tailoring, baking and small scale farming..</p>

			</div>

			<div class="col-sm-6">
				<%= image_tag("pics/woman.jpg", :alt => "women") %>
			</div>


			<div class="row">
				<div class="col-sm-12">
				
				<h2 style="text-align: justify; font-size:24px;">
					<span class="Apple-style-span" style="color: #4f4f4e;">The three main objectives&nbsp;</span>
				</h2>

				<p style="padding-left: 30px; text-align: left;"><strong><span style="color: #3687BF;">INCOME GENERATION:</span></strong>&nbsp;By empowering women with small business, tailoring, baking small scale farming skills.</p>
				<p style="padding-left: 30px; text-align: left;"><strong><span style="color: #3687BF;">SCHOOL SUPPORT: </span></strong>&nbsp;By donating 25% of income to the school feeding programme.</p>
				<p style="padding-left: 30px; text-align: left;"><strong><span style="color: #3687BF;">SUSTAINABILITY: </span></strong>&nbsp;By participating in opportunities that increase the sustainability of the group and the individuals within it.</p>


				<h2 style="text-align: justify; font-size:24px;">
					<span class="Apple-style-span" style="color: #4f4f4e;">SUSTAINABILITY&nbsp;</span>
				</h2>

				<p>De’ Bridge community centre aims to increase the sustainability of its projects and to increase economic growth. The Women’s Empowerment group currently saves twenty percent of their income that goes back into this aim. Once enough capital has been raised, the group plans to lease land to start agricultural projects. This will further strengthen the community and enable the group to reach out to other women</p>
		
				</div>

				
				<div class="row">
				<div class="col-sm-12"><h2 style="text-align: justify; font-size:24px;"><span style="color: #3687BF;">Meet the women</span></h2></div>
					
				</div>

				<div class="row">
				<div class="col-sm-12">
					<h1 style="text-align: justify; font-size:28px;"><span style="color: #4f4f4e;">Mary</span></h1>
				</div>
					
				</div>
				


				<div class="row">
					<div class="col-sm-2"><%= image_tag("pics/Mary.jpg", :alt => "women") %></div>
					
				</div>


				

				<div class="row">
					<div class="col-sm-12">Mary is a 25-year-old woman, raised in Waithaka informal settlement. She is eager to provide her three children a better life. Mary's dream is to get back to school and learn to use a computer and hopes to become a teacher one day.</div>
					
				</div>

				<div class="row">
				<div class="col-sm-12">
					<h1 style="text-align: justify; font-size:28px;"><span style="color: #4f4f4e;">Grace</span></h1>
				</div>
					
				</div>

				<div class="row">
					<div class="col-sm-2"><%= image_tag("pics/Grace.jpg", :alt => "women") %></div>
					
				</div>

				<div class="row">
					<div class="col-sm-12">Grace is a 43-year-old woman who lives and raises her four children in the Waithaka informal settlement. She has managed to rent a house through her hard work and skill in tailoring that she happily and passionately teaches other women in the group to be skilful tailors as she is.</div>
					
				</div>
				
			</div>



</div>