<div class="row">

	<div class="col-sm-12">
		<h1 class="about">Youth </h1>
	</div>
	

	<div class="entry-content col-sm-12">
		<h3 ><span style="font-size: 1.5em; color:blue;">What we do for the Youth</span></h3>


		<p class="about-p">With lack job opportunity and proper guidance the society have seen the youth waste their live in alcoholism and many social ills. Our organization has clearly seen the need and the benefit of supporting the youth by nurturing their skills and talent. We encourage the youth to participate in artistic work, community services and self-help group that enable them to be more productive and creative for their benefit and the benefit of the society. We help them to voice the ideas and concerns to the society by organizing events and seminar where they showcase skills and talents while interacting with the community.</p>

		






	</div>

</div>