<footer class="footer">
  <div class=" foot row">

    <div class="col-sm-4">
         <h3 class="widget">Facebook</h3>
        
         <p>Be the first of our friends to like our page.</p>
            <div class="fb-like" data-href="https://www.facebook.com/Debridge-Community-Based-Organization-987417537990051/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
         

        
      


    </div>
  <div class="col-sm-4">
    <h3 class="widget">Vission&Mission</h3>
    <p>We see an enlightened healthy community engaged in income generating activities thus profiting its individual members. Our mission We are committed to inspiring, educating, providing healthcare to individuals and equipping them with skills that develop their abilities.</p>
  </div>

   <div class="col-sm-4">
    <h3 class="widget">Contact Us</h3>
        <p>
        <span class="street1">Debridge, </span>
        <span class="street2">Community Centre  </span>
        <span class="city-info">Nairobi Headquarters</span></p>

        <p><span class="phone">+254 721 341 857</span></p>
        <p><span class="phone">+254 733 248 915</span></p>
         <p><span class="phone">P.O BOX 41304-00100,</span></p>
         <p><span class="phone">Nairobi, Kenya</span></p>
  </div>
    
  </div>
  <nav>
    <ul>
       <li>© <%= Date.today.year %> All rights reserved.debridge</li>
      
      
    </ul>
  </nav>






      <script>
   (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

     window.fbAsyncInit = function(){  // this gets triggered when FB object gets initialized
            console.log("FB Object initiated");
            FB.XFBML.parse(); // now we can safely call parse method
       };

</script>
</footer>