<footer class="footer">
  <div class="row">

    <div class="col-sm-4">
         <h3>Facebook</h3>
         <hr >


    </div>
  <div class="col-sm-4">
    <h3>Vission&Mission</h3>
    <p>We see an enlightened healthy community engaged in income generating activities thus profiting its individual members. Our mission We are committed to inspiring, educating, providing healthcare to individuals and equipping them with skills that develop their abilities.</p>
  </div>
    
  </div>
  <nav>
    <ul>
       <li>© <%= Date.today.year %> All rights reserved.debridge</li>
      
      
    </ul>
  </nav>
</footer>